.edit-delete {
  padding-left: 20px;
}

.delete {
  padding: 0 20px 0 0;

  cursor: pointer;

  color: rgb(216, 0, 0);
  transition: color 0.3s;
}

.delete:hover {
  color: rgb(255, 125, 92);
}

.edit {
  color: rgb(0, 52, 165);
}

.ant-list-item {
  border: 1px solid #eee;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fefeff;
}

.ant-list-item:nth-of-type(2n) {
  background-color: rgba(250, 250, 250, 0.5);
}

.ant-list-item:hover {
  box-shadow: 0 0 4px #eee;
  transition: 0.3s;
}