.edit-delete {
  padding-left: 20px;
}

.delete {
  padding: 0 20px 0 0;
  color: rgb(216, 0, 0);
  cursor: pointer;
  transition: color 0.3s;
}

.delete:hover {
  color: rgb(255, 125, 92);
}

.edit {
  color: rgb(0, 52, 165);
}