html, body {
  width: 100%;
  height: 100%;
}
.forum-layout {
  min-height: 100%;
  align-items: stretch;
}

.forum-content {
  flex-grow: 1;
  padding: 50px;
}

.forum-header, .forum-content, .forum-footer {
  flex-shrink: 0;
}

.forum-footer {
  text-align: center;
}

.main-content {
  background: #fff;
  height: 100%;
  padding: 20px;
}