html, body {
  width: 100%;
  height: 100%;
}
.forum-layout {
  min-height: 100%;
  align-items: stretch;
}

.forum-content {
  flex-grow: 1;
  padding: 50px;
}

.forum-header, .forum-content, .forum-footer {
  flex-shrink: 0;
}

.forum-footer {
  text-align: center;
}

.main-content {
  background: #fff;
  height: 100%;
  padding: 20px;
}

/* Override antDesign - this is necessary so that posts can be displayed on several lines
   according to where the user wanted the line break to be */
span.ant-typography {
  white-space: pre-wrap;
}

@media only screen and (max-width: 600px) {
  .forum-content {
    padding: 5px;
  }
  .main-content {
    padding: 5px;
  }
}
